<a routerLink="/pokemon/{{pokemonData.id}}" class="pokemon-link">
  <div class="pokemon-container">

    <div class="pokemon-name-container">
      <h2>{{pokemonData.name | titlecase}}</h2>

    </div>
    <div class="image-container">
      <img *ngIf="pokemonData.sprite" src="{{pokemonData.sprite}}" alt="Picture of {{pokemonData.name}}">

    </div>

    <ul class="types-list" >
      <li class="type" id="{{pokemonType}}" *ngFor="let pokemonType of pokemonData.types">
        {{pokemonType }}
      </li>
    </ul>
  </div>
</a>
