main{
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.pokemons-list-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  & .pokemon-card{
    margin: 20px;
  }
}


@media (max-width: 700px) {
  .pokemons-list-container{
    flex-direction: column;
    align-items: center;

    & .pokemon-card{
      width: 85vw;
      display: flex;
      justify-content: center;
    }
  }
}
